<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form - version 1.0</title>
</head>
<body>

<div th:if="${errorMessage != null}">       <!-- Jeśli jest komunikat o błędzie-->
    <div th:text="${errorMessage}"></div>   <!-- To go wypisz -->
</div>

<div>           <!-- Mówi że formularz dotyczy tego obiektu. W obrębie tego obiektu dostępne są
                    specjalne atrybuty pozwalające ładować dane z instancji. -->
    <form th:action="@{/user/add}" th:object="${createdUser}" th:method="post">
        <div><!--wiersz imie-->
            <div>Imie:</div>
            <div><input type="text" th:field="*{name}"></div>
        </div>
        <div><!--wiersz nazwisko-->
            <div>Nazwisko:</div>
            <div><input type="text" th:field="*{surname}"></div>
        </div>
        <div><!--wiersz guzik ok-->
            <input type="submit">
        </div>
    </form>
</div>

</body>
</html>