<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List - version 1.0</title>
</head>
<body>

<table style="border: 1px solid #000">
    <thead>
    <tr>
        <td>Lp.</td>
        <td>Name</td>
        <td>Surname</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="element,iter : ${userList}">
        <td th:text="${iter.index}"></td>
        <td th:text="${element.getName()}"></td>
        <td th:text="${element.getSurname()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>