<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Loop</title>
</head>
<body>

<table>
    <thead> <!--Nagłówek tabeli-->
    <tr>
        <th>Lp.</th>
        <th>Imie</th>
    </tr>
    </thead>
    <tr th:each="element,iter : ${listToIterate}">
        <td th:text="${iter.index}+1"></td> <!--td = komórka tabeli-->
        <td th:text="${element}"></td> <!--td = komórka tabeli-->
    </tr>
</table>


</body>
</html>